<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="ticket" transaction-type="RESOURCE_LOCAL">

        <class>com.company.ticket.entity.Ticket</class>
        <class>com.company.ticket.entity.Person</class>
        <class>com.company.ticket.entity.LineTicket</class>
        <class>com.company.ticket.entity.LinePerson</class>
        <class>com.company.ticket.entity.Issue</class>
        <class>com.company.ticket.entity.Incident</class>
        <class>com.company.ticket.entity.LineShape</class>
        <class>com.company.ticket.entity.Pattern</class>
        <class>com.company.ticket.entity.LineTicketRegister</class>
        <class>com.company.ticket.entity.Activity</class>
        <class>com.company.ticket.entity.TitleDocument</class>
        <class>com.company.ticket.entity.TicketIssue</class>
        <class>com.company.ticket.entity.TicketWithdrawal</class>
        <class>com.company.ticket.entity.LineAcitivity</class>
        <class>com.company.ticket.entity.ActivityPattern</class>
        <class>com.company.ticket.entity.LineShapeActivity</class>
        <class>com.company.ticket.entity.WorkPlace</class>
        <class>com.company.ticket.entity.LineStruckedPerson</class>
        <class>com.company.ticket.entity.LineCommissionPerson</class>
        <class>com.company.ticket.entity.LineViolatorPerson</class>
        <class>com.company.ticket.entity.IncidentView</class>
        <class>com.company.ticket.entity.IncidentReason</class>
        <class>com.company.ticket.entity.IncidentOutcome</class>
        <class>com.company.ticket.entity.DamageDegree</class>
        <class>com.company.ticket.entity.LineInvolvedPerson</class>
        <class>com.company.ticket.entity.LineCommonActivity</class>
        <class>com.company.ticket.entity.LineDocs</class>
        <class>com.company.ticket.entity.LawArticle</class>
    </persistence-unit>
</persistence>
